* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header,
.hero,
.footer {
  display: flex;
  color: #e5e7eb;
  background-color: #1f2937;
  font-size: 18px;
}

.header {
  height: 3rem;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.header-links {
  display: flex;
  gap: 15px;
  flex: none;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 800;
  flex: none;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  font-weight: 100;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  gap: 50px;
  padding: 100px 10%;
}

.intro {
  display: flex;
  flex-direction: column;
  flex: initial;
  width: 550px;
  margin-bottom: 10px;
  gap: 10px;
}

.intro h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 1em;
  color: #f9faf8;
  text-shadow: 2px 2px 4px #b8b8b8;
}

.intro button,
.signup button {
  border: none;
  border-radius: 7px;
  padding: 7px 10px;
  white-space: nowrap;
  width: 90px;
  color: white;
  background-color: #3882f6;
  font-weight: 800;
}

.hammer {
  display: flex;
  width: 500px;
  height: 320px;
  flex: initial;
  background-image: url(./img/hammer.jpg);
  background-size: cover;
  background-position: bottom;
  box-shadow: 0 0 10px 10px #1f2937 inset;
}

.hammer>img {
  display: none;
}

.info-pannel {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
}

.info-boxes {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.info-pannel h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  padding: 20px;
  white-space: nowrap;
}

.card {
  color: #1f2937;
  text-shadow: 2px 2px 4px #505050;
  width: 160px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 30px 20px;
}

.card img {
  width: 150px;
}

.quote-pannel {
  display: flex;
  justify-content: center;
  background-color: #e5e7eb;
  padding: 50px;
}

.quote1 {
  display: flex;
  flex: initial;
  flex-direction: column;
  width: 800px;
  font-size: 36px;
  font-weight: 100;
  color: #1f2937;
}

.quote1 strong {
  text-align: end;
  text-shadow: 2px 2px 5px #1f2937;
}

.action-pannel {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.signup {
  display: flex;
  flex: auto;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 50px 30px;
  margin: 0 30%;
  min-width: 300px;
  border-radius: 10px;
  background-color: #3882f6;
  box-shadow: 4px 4px 10px #1f2937;
}

.calltoaction {
  color: white;
  font-size: 18px;
}

.calltoaction p {
  font-size: 12px;
  font-weight: 100;
}

.signup button {
  box-shadow: 0 0 10px #fff;
}

.footer {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}